body{
  background-color: #080808;
  color: #aaa;
  font-family: consolas;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: consolas;
  font-size: 14px;
}

#msgBox{
  flex: 1;
  height: 300px;
  min-width: 300px;
  background-color: #100000;
  color: #f00000;
  border: 1px solid red;
  text-align: left;
  padding: 5px;
  position: relative;
}

#messages{
  overflow: auto;
  height: 250px;
}

#confirm {
  position: absolute;
  bottom: 10px; /* Position the button at the bottom */
  right: 10px; /* Position the button at the right */
  font-family: consolas;
  border: 1px solid red;
  background-color: black;
  color: red;
}

#confirm:active {
  background-color: red;
  color: black;
}

#queryInput {
  position: absolute;
  bottom: 10px; /* Position the button at the bottom */
  left: 10px; /* Position the button at the left */
  font-family: consolas;
  border: 1px solid red;
  background-color: black;
  color: red;
  visibility: hidden;
}

.workspace {
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  min-width: 300px;
}

/* Row model for adding numbers to math workspace */
.digit-row {
  display: flex;
  justify-content: flex-start; 
}

.digit-box {
  width: 30px;
  height: 30px;
  border: 1px solid #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  margin: 1px;
}

.digit-box.blank {
  border: 1px solid transparent;
}

.digit-box.highlight {
  background-color: #300;
  border: 1px solid red;
  color: red;
}

.digit-box.remember {
  background-color: #030;
  border: 1px solid #0f0;
  color: #0f0;
}

/* Boundaries and formatting */
.line {
  border-bottom: 2px solid #f00;
  width: 140px;
  margin-left: 80px;
}

.curve {
  height: 30px;
  width: 10px;
  border: 3px solid #f00;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0 50% 50% 0;
}

.lspacer {
  width: 81px;
  height: 30px;
}

.letter {
  font-size: 20px;
  font-weight: bold;
  padding-top: 12px;
  align-items: bottom;
  color: #f00;
}